@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: -1;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 5px;
}

.input-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 30px;
  font-weight: 500;
  color: #474747;
}

label {
  font-size: 20px;
  font-weight: 500;
  color: #474747;
}

.khodam {
  color: #ec1e1ec4;
  font-weight: bold;
}
input {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

button {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #4971f3c4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification {
  display: none;
  font-size: 20px;
  font-weight: 500;
  color: red;
  padding-top: 10px;
}

.result {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #474747;
  padding-top: 10px;
  transition: all 0.5s;
}

.title,
.title-khodam {
  font-weight: 400;
  padding: 10px 0;
}

.output-khodam {
  font-weight: 400;
  padding: 10px 0;
  color: #d10000;
}
button:hover {
  background-color: #899ee6c4;
}

/* FOOTER START */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copyright {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Playwrite ES", cursive;
}
@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .container {
    width: 90%;
  }

  .input-container {
    gap: 10px;
  }

  .heading {
    font-size: 20px;
  }

  label,
  input,
  .result,
  button {
    font-size: 17px;
  }
}
